#login-wrapper {
    text-align: center;
}

.hero-image {
    filter: blur(2px);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2000;
}

.hero-hue {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2000;
    background-color: #01579B;
    opacity: .2;
}

.loading-overlay {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #01579B;
}

.spinner {
    margin-left: 48%;
    margin-top: 20%;
}


.new-user-container {
    width: 40%;
    margin-left: 30%;
}



