.body-wrapper {
    padding: 5px;
}

.nav-main {
    padding-left: 5px;
    padding-right: 5px;
}

.landing-container {
    height: 100%;
    width: 100%;
}

.hero-image {
    filter: blur(2px);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2000;
}

.hero-hue {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2000;
    background-color: #01579B;
    opacity: .2;
}

.loading-overlay {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #01579B;
}

.spinner {
    margin-left: 48%;
    margin-top: 20%;
}

.new-user-container {
    width: 40%;
    margin-left: 30%;
}

.login-container {
    width: 30%;
    margin-left: 35%;
}

.admin-dash-wrapper {
    height: 100%;
    width: 100%;
}

#teacher-schedule-card {
    width: 30%;
    height: 30%;
    margin-left: 15%;
    float: left;
    margin-top: 7%;
}

#meeting-schedule-card {
    width: 30%;
    height: 30%;
    float: left;
    margin-left: 10%;
    margin-top: 7%;
}

.admin-card {
    height: 400px;
    padding: 50px;
}

.schedule-card-content {
    font-size: 24px;
    font-weight: bold;
}

.teacher-list-wrap {
    width: 50%;
    height: 400px;
    overflow-y: scroll;
}



