.body-wrapper {
    padding: 5px;
    text-align: center;
}

.nav-main {
    padding-left: 5px;
    padding-right: 5px;
}

.landing-container {
    height: 100%;
    width: 100%;
}

.hero-image {
    filter: blur(2px);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2000;
}

.hero-hue {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2000;
    background-color: #01579B;
    opacity: .2;
}

.loading-overlay {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #01579B;
}

.spinner {
    margin-left: 48%;
    margin-top: 20%;
}

.new-user-container {
    width: 40%;
    margin-left: 30%;
}

.new-schedule-container {
    width: 40%;
    margin-left: 3%;
    text-align: center;
}

.login-container {
    margin-top: 10%;
    width: 30%;
    margin-left: 35%;
}

.new-account {
    color: #eeeeee;
}

.admin-dash-wrapper {
    height: 100%;
    width: 100%;
}

#teacher-schedule-card {
    width: 30%;
    height: 30%;
    margin-left: 2%;
    float: left;
    margin-top: 7%;
}

#meeting-schedule-card {
    width: 30%;
    height: 30%;
    float: left;
    margin-left: 2%;
    margin-top: 7%;
}

.admin-card {
    height: 400px;
    padding: 50px;
}

.schedule-card-content {
    font-size: 24px;
    font-weight: bold;
}

.teacher-list-wrap {
    width: 50%;
    height: 450px;
    border: 5px solid #78909c;
    margin-left: 30%;
    background-color: #bdbdbd;
    padding-left: 8px;
    text-align: left;
    
    overflow-y: scroll;
}

.div-sep {
    height: 2px;
    margin-bottom: 5px;
    background-color: #01579B;
}

.schedule-button {
    margin: 5%;
}

.admin-links {
    color: #eeeeee;
}

/* label color */
.input-field label {
    color: #eeeeee;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #fbe9e7;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #fbe9e7;
    box-shadow: 0 1px 0 0 #fbe9e7;
}

.login-head {
    margin-bottom: 4px;
}

.teacher-list {
    margin-left: 20px;
    font-size: 20px;
    color: #0277bd;
}

.event-list {
    margin-left: 20px;
    font-size: 20px;
    color: #0277bd;
}

.new-event-container {
    width: 40%;
    margin-left: 30%;
}

.event-landing-container {
    text-align: center;
}

.existing-events-link {
    color: #eeeeee;
}

.generate-button {
    margin-left: 30%;
}

.results-head {
    color: #0277bd;
}

.reg-teacher-head {
    color: #0277bd;
}

.new-event-head {
    color: #0277bd;
}

.reg-events-head {
    color: #0277bd;
}



